String dir = new File(".").getAbsolutePath()

params {
    input_reads = "${dir}/test_data/*_{R1,R2}.fq.gz"

    linker_A = "ACGCGATATCTTATC"
    linker_B = "AGTCAGATAAGATAT"
    min_mapq = 30

    genome_size = "/public/data/genome/homo_sapiens/hg19/hg19.main.chrom.sizes"
    bwa_index_prefix = "/public/data/genome/homo_sapiens/hg19/bwa_index/hg19"

    resolutions = [5000, 10000, 25000, 40000, 100000]

    chipdata = "${dir}/test_data/H3K27ac_K562_pup5_qup2_peak.bed"
    resolution_fithichip = 5000
    use_P2P_background = 0
    digest = "${dir}/test_data/GRCh38.AluI.bed"

    script_dir = "${dir}/scripts"
}
